body {
    background-color: #CCDBFF;
}

:root {
    --maincolor: #CCDBFF;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #CCDBFF;
}

html::-webkit-scrollbar-thumb {
    background: var(--maincolor);
}

.ecellLogo {
    z-index: 5;
    padding: 25px;
    margin-left: calc(2vh + 5px);
    background: url("../ew.png");
    background-repeat: no-repeat;
    float: top;
    background-size: cover;
    box-sizing: border-box;
    position: fixed;
    width: calc(50px + 3vw);
    height: calc(50px + 3vw);
    top: 3%;
    left: 0;
    transform: translate(-1vw, -2vh);
    clip-path: circle(50.0% at 50% 50%);
    cursor: pointer;
}

.saffLogo {
    z-index: 5;
    padding: 25px;
    margin-left: calc(2vh + 5px);
    background: url("../saff.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    position: fixed;
    width: 150px;
    height: 50px;
    bottom: 3%;
    left: 0;
    cursor: pointer;
}

.necLogo {
    z-index: 5;
    padding: 25px;
    background: url('NEC IITB LOGO.png') no-repeat center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    position: fixed;
    width: 50px;
    height: 80px;
    bottom: 3%;
    right: 2%;
    cursor: pointer;
}

.navbar {
    transform: scale(1.01);
    background: transparent;
}

.nav-link {
    color: #6692FF !important;
    border-radius: 9px;
}

.navbar-toggler {
    background: white !important;
}

.active {
    background: #6692FF;
    color: black !important;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    background: #6692FF;
    color: black !important;
}

.about-section {
    padding: 130px 0px 60px;
}

@media only screen and (max-width: 768px) {
    .about-section {
        padding: 85px 0px 60px;
    }
}

.title h1 {
    color: #6692FF;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding-left: 10%;
}

.title span {
    color: #000F33;
    font-size: 45px;
    font-weight: 700;
}
.title p{
    color: #000F33;
    line-height: 1.5;
    margin: 0 0 15px;
    padding-bottom: 12px;
    font-size: medium;
    display: flex;
    font-family: 'Montserrat';
    font-size: larger;
}

p {
    color: #000F33;
    line-height: 1.8;
    margin: 0 20px 15px 0;
    padding-bottom: 12px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
    display: block;
    /* Change from flex to block for proper text alignment */
    font-family: 'Montserrat';
    text-align: justify;
    /* Justify the text */
}

img {
    border-radius: 5%;
    border: 2px solid #000F33;
}

.social {
    padding: 0;
}

.social li {
    display: inline-block;
}

.social li a {
    list-style: none;
    margin: 0 4px;
    padding: 0 6px;
    font-size: 20px;
    background-color: #6692FF;
    color: black;
}

.social li a:hover {
    border-radius: 50%;
    transition: all 0.5s;
}

.social li a.facebook {
    background-color: #3b5998;
    /* Facebook color */
}

.social li a.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.social li a.twitter {
    background-color: #00acee;
    /* Twitter color */
}

.social li a.linkedin {
    background-color: #0077b5;
    /* LinkedIn color */
}

.fa-brands fa-x-twitter {
    background: url("../twitter.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    filter: saturate(1);
    transition: all 250ms ease-in;
}

.fa-brands fa-x-twitter {
    background: url("../twitter.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    filter: saturate(1);
    transition: all 250ms ease-in;
}

.footer {
    background: #000F33;
}

@media only screen and (max-width: 992px) {
    .importantlinks {
        display: flex !important;
        flex-direction: column !important;
    }
    .navbar-nav {
        background-color: black;
    }
}

.importantlinks * {
    font-family: 'Montserrat';
    font-size: small;
    color: #6692FF;
    font-size: medium;
}

.importantlinks a {
    text-decoration: none;
}

.importantlinks a:hover {
    text-decoration: underline;
    color: white;
}


/* Guide Section */


/* .guide-section {
    padding: 20px 0;
    background-color: #CCDBFF;
    color: #6692FF;
    text-wrap: wrap;
    font-family: 'Montserrat';
}

.guide-section h2,
.collaborators-section h2 {
    font-size: 32px;
    font-weight: 600;
}

.guide-section p,
.collaborators-section p {
    font-size: 22px;
    line-height: 1.6;
    display: flex;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.guide-section .guide-image {
    max-width: 200px;
    max-height: 300px;
    margin-left: 42%;
}

.guide-section .guide-image .guide {
    position: relative;
}

.guidef {
    font-family: 'Montserrat';
}

.guidef h2 {
    font-size: 43px;
    font-weight: 600;
}

.guide-section .guide-image .tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000F33;
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    text-align: center;
    transition: visibility 0s, opacity 0.5s linear;
}

.guide-section .guide-image .guide:hover .tooltip {
    visibility: visible;
    white-space: nowrap;
    opacity: 1;
} */

.guide-section {
    padding: 20px 0;
    background-color: #CCDBFF;
    color: #6692FF;
    text-wrap: wrap;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Ensure the section takes up the full viewport height */
    text-align: center;
    /* Center text horizontally */
}

.guide-section .guide-image {
    max-width: 200px;
    max-height: 300px;
    margin: 0 auto;
    /* Center the image horizontally */
    position: relative;
    float: left;
}

.guide-section h2,
.collaborators-section h2 {
    font-size: 32px;
    font-weight: 600;
}

.guide-section p,
.collaborators-section p {
    font-size: 22px;
    line-height: 1.6;
    display: flex;
    text-align: justify;
}

.guide-section .guide-image .guide {
    position: relative;
}

.guidef {
    font-family: 'Montserrat';
}

.guidef h2 {
    font-size: 43px;
    font-weight: 600;
}

.guide-section .guide-image .tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000F33;
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    text-align: center;
    transition: visibility 0s, opacity 0.5s linear;
    margin-left: 8px;
    font-size: larger;
}

.guide-section .guide-image a:hover .tooltip {
    visibility: visible;
    white-space: nowrap;
    opacity: 1;
}

.guide-section a {
    text-decoration: none;
    /* Remove underline for the link */
}

.guide-section a:hover {
    text-decoration: none;
    /* Ensure underline is removed on hover */
}

.guide-section p {
    font-size: 22px;
    line-height: 1.6;
    text-align: justify;
    padding: 0 20px;
    /* Add padding to the left and right */
    margin: 20px;
    /* Add margin to create space around the text */
}


/* Collaborator Section */

.collaborators-section {
    padding: 80px 0;
    background-color: #CCDBFF;
    color: #53f9ff;
    font-family: 'Montserrat';
}

.collaborators-section .collaborator-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.collaborators-section .collaborator-images .collaborator {
    position: relative;
}

.collaborators-section .collaborator-images img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 8px;
}

.collaborators-section .collaborator-images .tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000F33;
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    text-align: center;
    transition: visibility 0s, opacity 0.5s linear;
    font-size: medium;
}

.collaborators-section .collaborator-images .collaborator:hover .tooltip {
    visibility: visible;
    white-space: nowrap;
    opacity: 1;
}

.collaborators-section p {
    font-size: 22px;
    line-height: 1.6;
    text-align: justify;
    padding: 0 20px;
    /* Add padding to the left and right */
    margin: 20px;
    /* Add margin to create space around the text */
}

.dropdown-menu {
    background-color: #6692FF;
    border-radius: 12px;
    width: 150px;
}

.dropdown-item {
    background-color: #6692FF;
    color: black !important;
    border-radius: 12px;
    padding: 10px 15px;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
    background-color: #6692FF;
    color: black !important;
    border-radius: 12px;
    -webkit-text-fill-color: white;
    font-weight: bold;
}



}
